# port
PORT=5000

# mongoDB url
MONGO_URI=mongodb+srv://Ebram_Samuel_db_user:Abram12345%23@cluster0.pcaeb5y.mongodb.net/

# JWT secret key
JWT_SECRET=xxxx

# JWT expire time
JWT_EXPIRES_IN=7d

# environment
NODE_ENV=development