# port
PORT=5000

# environment
NODE_ENV=development

# mongoDB url
MONGO_URI=mongodb://Ebram_Samuel_db_user:TCjTdEVRxAxKMn0K@ac-ikscrld-shard-00-00.pcaeb5y.mongodb.net:27017,ac-ikscrld-shard-00-01.pcaeb5y.mongodb.net:27017,ac-ikscrld-shard-00-02.pcaeb5y.mongodb.net:27017/HRManagement?ssl=true&replicaSet=atlas-571ylg-shard-0&authSource=admin&retryWrites=true&w=majority

# JWT
# JWT secret key
JWT_ACCESS_SECRET=your_very_long_random_secret_at_least_64_chars
JWT_REFRESH_SECRET=another_different_very_long_random_secret

# JWT expire time
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# SMIP : Set up automated email sending
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=ebramsam2001@gmail.com
SMTP_PASS=your_mailtrap_pass  # make with actual password
EMAIL_FROM=ebramsam2001@gmail.com

# Client Data
CLIENT_URL=http://localhost:3000
MAX_FILE_SIZE=2097152

#Standards
STANDARD_START_TIME=09:00